/* * Whole  Page styling */

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(38, 44, 50);
  font-family: 'Creepster', cursive;
  font-size: 25px;
  color: white;
}

/* * Header styling */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: solid green 1px; */
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border: solid blue 1px; */
  width: 700px;
}

#life-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#life-icons {
  padding: 0px 5px;
}

.one-life {
  width: 25px;
}

#start {
  background: rgb(255, 0, 0);
  color: white;
  border: none;
  border-radius: 5%;
}

/* * Main styling */

#grid {
  display: flex;
  flex-flow: row wrap;
  width: 700px;
  height: 700px;
}

#grid div {
  font-size: 10px;
  font-family: sans-serif;
  color: transparent;
}

#display-result {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 700px;
  height: 700px;
  text-align: center;
 }

#display-result img {
  height: 300px;
}

/* * Items */

.stone {
  background-image: url("../images/tomb-stone.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.dot {
  background-image: url("../images/dot.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.moon {
  background-image: url("../images/full-moon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.pop-corn {
  background-image: url("../images/pop-corn.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

/* * Characters */

.mj {
  background-image: url("../images/mj.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.mj-werewolf {
  background-image: url("../images/mj-werewolf.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.mexican-zombie {
  background-image: url("../images/mexican-zombie.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.news-zombie {
  background-image: url("../images/news-zombie.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.office-zombie {
  background-image: url("../images/office-zombie.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.pirate-zombie {
  background-image: url("../images/pirate-zombie.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.zombie-hand {
  background-image: url("../images/zombie-hand.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}